button {
  border: none;
  background: none;
}

.card {
  margin-top: 1cm;
  width: 210px;
  position: relative;
}

.new {
  position: absolute;
  right: 0px;
  top: 0cm;
  z-index: 1;
}
.sale {
  position: absolute;
  right: 0px;
  top: 0.7cm;
  z-index: 1;
}
.rating {
  position: absolute;
  bottom: 1.8cm;
  z-index: 1;
}
.cartimage {
  position: relative;
  width: 180px;
  object-fit: contain;

  cursor: pointer;
}
.img1 {
  width: 100%;
}
.img2 {
  width: 100%;
}


/* wishlist */
